@font-face {
    font-family: Norse;
    font-weight: bold;
    src: url(assets/Norse-Bold.otf);
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.left {    
    min-width: 30%;
    background-image: url(assets/background.jpg);
    background-size: cover;
    position: relative;
    color: white;
}

#logo {
    font-size: 6rem;
    font-family: Norse, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

#cred {
    position: absolute;
    bottom: 5px;
    right: 175px;
}

#cred span {
    text-decoration: underline;
}

.right {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    font-weight: 600;
}

.right > div {
    flex: 1;
}

#top {
    font-size: 1.5rem;
    padding: 150px 150px 0 60px;
}