@font-face {
    font-family: Norse;
    font-weight: bold;
    src: url(assets/Norse-Bold.otf);
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.left {    
    min-width: 30%;
    background-image: url(assets/background.jpg);
    background-size: cover;
    position: relative;
    color: white;
}

#logo {
    font-size: 6rem;
    font-family: Norse, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

#cred {
    position: absolute;
    bottom: 5px;
    right: 175px;
}

#cred a {
    color: white;
}

.right {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    font-weight: 600;
}

.right > div {
    flex-grow: 1;
}

#top {
    padding: 150px 150px 0 60px;
    max-height: 190px;
}

#top, #bot {
    background-color: rgb(250, 250, 250);
}

#mid {
    max-height: 250px;
    border-bottom: 5px solid rgb(222, 220, 220);
}

#mid, #bot {
    padding: 20px 0 0 60px;
}

fieldset {
    border: 0;
    padding-top: 20px;
}

#top, legend {
    font-size: 1.5rem;
}

p {
    position: relative;
    display: inline-block;
}

p:nth-child(3n + 3) {
    margin-left: 60px;
}

label {
    font-size: .75rem;
    letter-spacing: 2px;
    position: absolute;
    top: -15px;
    left: 0;
}

input {
    height: 20px;
    width: 250px;
    font-size: .9rem;
    padding: 2px 8px;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

input:focus {
    outline: none;
    border-color: blue;
    box-shadow: 0 0 5px gray;
}

.error {
    border-color: red;
}

#msg {
    color: darkred;
    font-size: .75rem;
    font-weight: 400;
    position: absolute;
    bottom: -15px;
    left: 0;
}

#bot {
    padding-top: 30px;
}

button {
    color: white;
    background-color: #596D48;
    padding: 13px 40px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px gray;
}

button:active {
    background-color: #789360;
}

button:hover {
    box-shadow: 2px 2px 5px gray inset;
}

#bot a {
    color: #596D48;
    text-decoration: none;
}